@charset "utf-8";

/*
	History Style Sheet
	Author: Nick Sheppard 
	Date:
	Filename:
*/

/* Heading styles */
h2 {
	margin-bottom: 20px;
	margin-top: auto;
	padding-bottom: 5px;
	text-align: center;
	clear: both;
	width: 100%;
	background-color: white;
}



#figure {
	
	width: auto;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	border: thin rgb(0, 0, 0) solid;
	margin: 20px;
	padding: 0.5em;
	

}
img.scaled {
	width: auto;
}


#first {
	text-align: center;
	border: 2px solid black;
	background-color: #ebeb2a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	margin-right: 20px;
	margin-left: 20px;
	width: auto;
}


/*  Mobile screen */
@media only screen and (max-width: 480px) {
	article h3 {
		width: 100%;
	}

	article p {
		width: 80%;
		max-width: 100%;
		margin: 5%;
	}

	#figure {
		margin: 20px;
	}
	img.scaled {
		width: 80%;
	}

	aside h4 {
		float: none;
		width: 100%;
		text-align: center;
	}

	aside p {
		width: 80%;
		margin: 10%;
	}



}