@charset "utf-8";

/*
	Platform Style Sheet
	Author: Nick Sheppard 
	Date: 
	Filename:
*/

section h1 {
	clear: both;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-top: auto;
	text-align: center;
	background-color: white;
}


 /* section div { 
	background-color: #ff4c4c;
	border: 2px solid black;
	border-radius: 50px;
	width: 50%;
	float: left;
	clear: left;
	display: block;	
	margin-top: 5%;
	margin-bottom: 5%;
 } */
section img {
	margin-bottom: auto;
	padding-right: auto;
	min-width: 300px;
	display: block;
	width: 50%;
	float: right;
}

#platList {
	margin-left: 5px;
}

/*  Mobile screen */
@media only screen and (max-width: 480px) {
	section img {
		width: 100%;
	}
	
	
}
	