@charset "utf-8";

/*
	Style Sheet
	Author: Nick Sheppard 
	Date:
	Filename:
*/

/* html and body styles */
html {
	background: url(vgbackactual.jpg);
	background-size: auto;
}

body {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
	/* font-size: 20px; */
}

 body::after {
	clear:both;
	content: "";
	display: table;
} 

body>header>h1 {
	margin: auto;
	padding-top: auto;
	padding-bottom: auto;
	padding-left: auto;
	width: auto;
	font-size: 3em;
	color: rgb(0, 0, 0);
	text-shadow: black 0px 0px 1px, #ffffff 5px 5px 4px, #fb1a1a 4px 4px 10px;
	text-align: center;
	background: url(vg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

body>header>h2 {
	font-size: 1.5em;
}

p {
	text-indent: 20px;
	padding: 20px;
	line-height: 1em;
}

 nav li {
	list-style: none;
} 

ul {
	margin: auto;
	padding: 0;
}


a {
	color: black;
	font-size: 25px;
	display: block;
	text-align: center;
	/* padding: auto;
	text-decoration: none; */
	background: linear-gradient(90deg,
			rgba(255, 0, 0, 1) 0%,
			rgba(255, 154, 0, 1) 10%,
			rgba(208, 222, 33, 1) 20%,
			rgb(115, 220, 74) 30%,
			rgba(47, 201, 226, 1) 50%,
			rgba(28, 127, 238, 1) 60%,
			rgba(95, 21, 242, 1) 70%,
			rgba(186, 12, 248, 1) 80%,
			rgb(251, 7, 157) 90%,
			rgba(255, 0, 0, 1) 100%);
	

}

nav li a:hover {
	background-color: #ffffff41;
	color: white;
}

a#navicon {
	display: none;
}

header h2 {
	background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 20px;
	clear: both;
}



/* Navicon for mobile */
@media only screen and (max-width: 480px) {
	a#navicon {
		text-align: left;
		display: block;
		width: auto;
	}

	a#navicon img {
		width: 30px;
	}

	nav ul {
		display: none;
	}

	a#navicon:hover+ul,
	nav ul:hover {
		display: block;
	}

	nav li {
		float: none;
		width: 100%;
	}

	nav li:last-of-type {
		width: 100%;
	}
}